# ignore venv dir
.venv
# ignore object files
*.o
# ignore executable
demo
# ignore debug executable
demo_debug
# ignore doxygen directory
doxygen
# ignore docs file
documentation/docs.pdf

# ignore generated palette header
s4c-animate/palette.h
# ignore generated palette C file
s4c-animate/palette.c
